*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
}

h2 {
  font-size: 2.5rem;
  color: hsl(229, 23%, 23%);
}
p {
  color: hsl(227, 10%, 46%);
  font-size: 1.5rem;
  font-weight: 700;
}

.bg_img {
  position: absolute;
}

.bg_img1 {
  top: -60%;
  right: 50%;
}

.bg_img2 {
  bottom: -80%;
  left: 50%;
}

main {
  background-color: #fff;
  width: 50rem;
  height: 50rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 5px 5px 20px 5px rgba(0, 36, 37, 0.224);
  text-align: center;
}

.profile_photo {
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  border: solid 3px #fff;
  object-fit: cover;
  /* margin-bottom: 1rem; */
}
.profile_background {
  width: 100%;
  height: 20rem;
}

.profile_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: -8rem;
  gap: 1rem;
  /* width: 100px; */
}

.profile_top span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  mask: #2d3248;
}
.lg {
  text-decoration: none;
}

.lg svg {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.lg svg:hover {
  transform: rotateX(5deg) rotateY(5deg) scale(1.05);
}

.links {
  border-top: solid 1px hsl(225, 10%, 92%);
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.logo_tk {
  stroke: #2d3248;
  fill: #2d3248;
}
